@page
@model CRM.Pages.AssetAllocation.CreateModel
@{
    Layout = "_Layout";
}

<div class="card m-3 border-light">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">@(Model.AssetAllocation.Id != 0 ? "Edit" : "Create") Asset</h3>
    <br />
    <div class="card-body">
        <form method="post">
            @if (Model.AssetAllocation.Id != 0)
            {
                <input type="hidden" asp-for="AssetAllocation.Id" />
            }
            <div class=" text-danger" asp-validation-summary="ModelOnly"></div>
            <div class=" form-group row">
                <div class=" col-2 offset-2">
                    <label asp-for="AssetAllocation.AssetId">Select Asset<span class="text-danger">*</span></label>
                </div>
                <div class=" col-6">
                    @Html.DropDownList("ddlAssetName", new SelectList(Model.AssetMaster, "Id", "Name", Model.AssetAllocation.AssetId), "Select Asset",htmlAttributes: new { @class = "form-control", required = "required",oninput = "setCustomValidity('')" })
                </div>
            </div>
            <div class="form-group row m-2">
                <div class=" offset-4">
                    <span asp-validation-for="AssetAllocation.AssetId" class="text-danger"></span>
                </div>
            </div>
            
            <div class=" form-group row">
                <div class=" col-2 offset-2">
                    <label asp-for="AssetAllocation.EmployeeId">Select Employee<span class="text-danger">*</span></label>
                </div>
                <div class=" col-6">

                    @Html.DropDownList("ddlEmployeeName", new SelectList(Model.EmployeeMaster, "Id", "EmployeeName",Model.AssetAllocation.EmployeeId), "Select Employee",htmlAttributes: new { @class = "form-control", required = "required",oninput = "setCustomValidity('')" })
                    
                </div>
            </div>
            <div class="form-group row m-2">
                <div class=" offset-4">
                    <span asp-validation-for="AssetAllocation.EmployeeId" class="text-danger"></span>
                </div>
            </div>
            <div class=" form-group row mt-3">
                <div class="col-3 offset-3">
                    <button type="submit" id="btnAssetMasterSubmit" onclick="" class="btn btn-primary form-control">@(Model.AssetAllocation.Id != 0 ? "Update" : "Create")</button>

                </div>
                <div class=" col-3">
                    <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var ddlAssetName = document.querySelector('#ddlAssetName')
        , ddlEmployeeName = document.querySelector('#ddlEmployeeName');

    var ddlAssetNameVal = ddlAssetName.value;
    var ddlEmployeeNameVal = ddlEmployeeName.value;
    function validateddl() {
        if (ddlAssetNameVal < 1) {
           alert("Please select Asset!");
           
           ddlAssetName.setCustomValidity('');
           return false;
           
        } 
        if (ddlEmployeeNameVal < 1) {
            alert("Please select Employee!");
            ddlEmployeeName.setCustomValidity('');
            return false;
        }

    }

</script>